.idea
.pytest_cache
.ignore

reports/html_reports/*
!reports/html_reports/.gitignore
reports/allure_reports/*
!reports/allure_reports/.gitignore

logs/adb_logcat/*
!logs/adb_logcat/.gitignore
logs/mitmproxy_logs/*
!logs/mitmproxy_logs/.gitignore

resources/app_action/*
!resources/app_action/.gitignore

*.yaml
*.png